.navbar {
  justify-content: flex-start;
}

h1 {
  font-family: 'Lobster', cursive;
  color: rgb(208, 198, 204);
}

.better-than {
  font-size: 22px;
  margin-top: 10px;
  color: rgb(208, 198, 204);
  margin-left: 30px;
}
